/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">');


* {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  max-width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #3B7037;
  height: 10vh;
  min-height: 100px;
}

.logo {
  width: 130px;
  height: 60px;
}

.navbar {
  list-style: none;
  cursor: pointer;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
  color: #DDFFDD;
}

.navbar ul li a {
  font-weight: 600;
  text-decoration: none;
  padding: 0 10px;
  border: 1px solid transparent;
  transition-duration: all 0.3s ease 0s;
}

.navbar ul li.active a {
  color: #144011;
  background-color: #fff;
  border-radius: 4px;


}

.navbar ul li a:hover {
  color: #144011;
  background-color: #eee;
  border-radius: 4px;


}

.header-icons {
  display: flex;
  align-items: center;
  list-style: none;
  color: #DDFFDD;
  cursor: pointer;
}

.header-icons li {
  margin-right: 15px;
  font-size: 15px;
}

.header-icons i:hover {
  color: #3c3c3c;
}



.home-page {
  max-width: 1200px;
  margin: 40px;

}

.home-hd h1 {
  position: relative;
  color: #262626;
  top: 20px;
}

.home-p1 {
  width: 55%;
  position: relative;
  text-align: justify;
  font-size: larger;
  color: #3e3d3d;
  top: 30px;
}


.firstbox {
  display: flex;
  margin-top: 70px;
}

.firstbox img {
  width: 650px;
  height: 400px;
  border-radius: 10px;
}

.firstbox img:hover {
  transform: scale(1.08);
  transition: 05s ease;
}

.firstbox-right {
  margin-left: 40px;
}

#explore-button {
  position: relative;
  font-size: large;
  font-weight: lighter;
  padding: 6px 25px;
  color: #DDFFDD;
  background-color: #3B7037;
  border: none;
  border-radius: 15px;
  top: 60px;
  left: 610px;
}

#explore-button:hover {
  color: #1b5915;
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid;
  border-radius: 20px;
  cursor: pointer;
}





.tes-hd {
  position: relative;
  width: 80%;
  left: 155px;
  font-weight: bolder;
  float: right;
  top: 200px;

}

.tes-container {
  margin-top: 100px;
  width: 100%;
  margin: 240px auto;

}


.bx {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.bx p {
  width: 250px;
  font-style: italic;
}


.tes-container img {
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 0.5px solid;
}






.colhd {
  width: 25%;
  position: relative;
  left: 540px;
  bottom: 100px;
}



.collection {
  margin-left: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}



.collection img {
  max-width: 100%;
  width: 350px;
  height: 450px;
  border-radius: 5px;
}

.blk1 {
  margin-right: 160px;
}

.collection p {
  width: 55%;
  text-align: left;
}











.shop {
  margin: 60px;
  max-width: 100%;
}

.shoph1 {
  font-size: 40px;
  text-align: center;

}

.columns {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}



.shop img {
  max-width: 100%;
  width: 300px;
  height: 350px;
  margin-top: 20px;
}



.shop p {
  width: 55%;
  text-align: left;
}



.about {
  margin: 100px auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.about h1 {
  font-size: 50px;
  margin-bottom: 25px;
  position: relative;
}

.about h1::after {
  content: "";
  position: absolute;
  width: 45%;
  height: 4px;
  display: block;
  background-color: #3B7037;
}


.about p {
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  color: #5e5e5e;
  text-align: justify;
  max-width: 700px;
  margin-bottom: 40px;
}


.about.img img {
  margin-top: 20px;
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 10px;

}

.about.img:hover {
  transform: scale(1.2);
  transition: 05s ease;
}






.contactsection {
  width: 80%;
  margin: 50px auto;

}

.contactsection h1 {
  margin-bottom: 10px;
}

.holder {
  margin: 40px auto;
  display: flex;
  background: rgb(235, 235, 235);
}

.holder-left {
  flex-basis: 50%;
  padding: 40px 60px;
}

.holder-right {
  flex-basis: 50%;
  padding: 40px;
  background: skyblue;
}

.holder-left h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.holder-right h3 {
  font-weight: 800;
  margin-bottom: 20px;
}

.holder-right h4 {
  margin-bottom: 20px;
}

.holder-left h4 {
  margin-bottom: 20px;
}


.holder-right ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  margin-right: 20px;
}

.holder-right i {
  font-size: 30px;
}






footer {
  background-color: #3B7037;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #DDFFDD;
  position: relative;
  font-size: medium;
}



.footer-content {
  width: 25%;
}

.footer-content h3 {

  margin-bottom: 15px;
  text-align: center;
}

.footer-content p {
  width: 190px;
  margin: auto;
  padding: 7px;
}

.footer-content ul {
  text-align: center;
}

.form {
  line-height: 0%;
  margin-bottom: 15px;
  margin: auto;


}

.form p {
  margin-bottom: 15px;
}

.form label {
  display: block;
  font-size: smaller;
  margin-bottom: 5px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #c0bfbf;
  border-radius: 5px;
}

.form textarea {
  resize: vertical;
}

.form .submit {
  background-color: #333;
  color: #cccccc;
  padding: 6px 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
}

.submit:hover {
  color: rgb(61, 61, 61);
  background-color: skyblue;
  border-radius: 12px;

}

.social-icons {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.social-icons li {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: flex;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  margin-right: 20px;
  font-size: 30px;
  transition-duration: all 0.3s ease 0s;
}

.social-icons i {
  margin-left: 20px;
}

.social-icons i:hover {
  color: rgb(40, 227, 227);
}

.fab.fa-instagram {
  color: white;
  background-color: #f5004a;
  width: 30px;
  height: 30px;
  font-size: 27px;
  border-radius: 10px;
  padding-top: 2.5px;
}

.fab.fa-facebook {
  color: rgb(55, 55, 244);
  background-color: white;
  border-radius: 15px;
  font-size: 28px;
}

.fab.fa-twitter {
  color: rgb(124, 175, 247);
  width: 33px;
  height: 33px;
}

.fab.fa-tiktok {
  color: white;
  font-size: 20px;
  background-color: #000;
  border-radius: 10px;
  width: 30px;
  height: 28px;
  padding-top: 6px;

}

.payment {
  list-style: none;
  font-size: 25px;

}

.payment li {
  margin-top: 50px;
  line-height: 0%;
}

.payment img {
  width: 30px;
  height: auto;
}

.last-side {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom.logo {
  width: 250px;
  height: 100px;
  margin-left: 85px;
  margin-top: 50px;


}

.contact.icons {
  line-height: ;
  margin-top: 160px;
  margin-left: 100px;
  margin-bottom: 80px;
  cursor: pointer;
}

.last-side i {
  color: #DDFFDD;
  margin-right: 15px;
  font-size: 15px;

}

.fas.fa-phone-flip {
  color: #DDFFDD;
}

.fas.fa-phone-flip:hover {
  color: #3c3c3c;
}

.number:hover {
  color: #3c3c3c;
}

.fas.fa-envelope {
  color: #DDFFDD;
}

.fas.fa-envelope:hover {

  color: #3c3c3c;
}

.email:hover {
  color: #3c3c3c;
}

.bottom.bar {
  width: 100%;
  height: auto;
  background-color: #333;
  color: #fff;
  padding: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-small;
  cursor: pointer;

}

.bottom.bar p:hover {
  color: skyblue;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 10px auto;
}

.flex-container img {
  border: 10px;
  margin: 10px;
}



/*mobile to small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {
  .flex-container img {
    width: calc(50% -20px)
  }
}



/* tablet to small laptops*/
@media screen and (min-width: 601px) and (max-width: 900px) {
  .flex-container img {
    width: calc(33.3% -15px);

  }
}

/*laptop to larger desktops*/
@media screen and (min-width: 901px) and (max-width: 1300) {
  .flex-container img {
    width: calc(22% -20px)
  }
}

/*larger monitors*/
@media screen and (min-width: 1301px) {
  .flex-container img {
    width: calc(16% -20px)
  }

  .flex-container {
    max-width: 1400px;
  }
}